<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="utf8"/>
    <base href="/"/>
    <title>Express/Angular Start Project</title>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
</head>
<body>
<h1>Express/Angular Start Project</h1>
<div ng-controller="AppCtrl">
    <h2>Hello {{name}}</h2>
    <ul class="menu">
        <li><a href="#/view1">view1</a></li>
        <li><a href="#/view2">view2</a></li>
    </ul>
    <div ng-view="ng-view"></div>
    <div>Angular seed app: v: <span app-version="app-version"></span></div>
</div>
<script src="javascripts/lib/angular/angular.js"></script>
<script src="javascripts/lib/angular/angular-route.js"></script>
<script src="javascripts/app.js"></script>
<script src="javascripts/services.js"></script>
<script src="javascripts/controllers.js"></script>
<script src="javascripts/filters.js"></script>
<script src="javascripts/directives.js"></script>
</body>
</html>